@inherits LayoutComponentBase
@using QuickTie.Portal.Shared.Layouts.Account

<PageTitle>Account</PageTitle>

<div>
    <Drawer />
    <Header />

    <main class="container">
        @Body
    </main>

    <Footer />
</div>


@code {

}
