@inherits LayoutComponentBase
@using QuickTie.Portal.Shared.Layouts.Main

<PageTitle>QuickTie</PageTitle>

<div>
    <Drawer />

    <Header />

    <main>
       @Body
    </main>

    <Footer />
</div>
